// @import "bootstrap-sass/lib/bootstrap";
// Core variables and mixins
@import "variables";
@import "mixins";
@import "compass/css3";

.container {
	@include container-fixed();
	width: $container-width;
	display: table; 
}

.slide {
	width: $slide-preview-width;
	height: $slide-preview-height;
	background-color: white;
	border: $slide-border-preview-width solid rgba(0, 0, 0, .3);
	padding: $slide-top-preview-padding $slide-left-preview-padding;
	margin: $slide-preview-margin;
	@include border-radius($slide-preview-radius);
	@include box-shadow(rgba(0, 0, 0, .1) 0 2px 6px);
	@include inline-block;
}

.text {
	display: table-cell; 
	vertical-align:middle;
	// @include scale($scale);
	// @include transform-origin(0,0);
	// @include transition-property(transform);
	// @include transition-duration(1s);
	// @include transition-timing-function(ease-in);
}

.slide * {
	font-size: $slide-text-size;
}

.slide h1 {
	font-size: $slide-h1-size;
}

body {
	margin: 0;
	background-attachment: fixed !important;
}

html, body, .container {
	height: 100%;
}

* {
	font-family: 'Open Sans', sans-serif;
}

.theme-color-asphalt-orange{
	background:#415b77;
	background:-moz-radial-gradient(center, circle cover, #415b77 0%, #2c3e50 100%);
	background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #415b77), color-stop(100%, #2c3e50));
	background:-webkit-radial-gradient(center, circle cover, #415b77 0%, #2c3e50 100%);
	background:-o-radial-gradient(center, circle cover, #415b77 0%, #2c3e50 100%);
	background:radial-gradient(center, circle cover, #415b77 0%, #2c3e50 100%);
	background-color:#2c3e50
}
.theme-color-cobalt-orange{
	background:#1a4984;
	background:-moz-radial-gradient(center, circle cover, #1a4984 0%, #13335a 100%);
	background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #1a4984), color-stop(100%, #13335a));
	background:-webkit-radial-gradient(center, circle cover, #1a4984 0%, #13335a 100%);
	background:-o-radial-gradient(center, circle cover, #1a4984 0%, #13335a 100%);
	background:radial-gradient(center, circle cover, #1a4984 0%, #13335a 100%);
	background-color:#13335a
}
.theme-color-beige-brown{
	background:#fff;
	background:-moz-radial-gradient(center, circle cover, #fff 0%, #f7f2d3 100%);
	background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fff), color-stop(100%, #f7f2d3));
	background:-webkit-radial-gradient(center, circle cover, #fff 0%, #f7f2d3 100%);
	background:-o-radial-gradient(center, circle cover, #fff 0%, #f7f2d3 100%);
	background:radial-gradient(center, circle cover, #fff 0%, #f7f2d3 100%);
	background-color:#f7f3de
}
.theme-color-coral-blue{
	background:#d59177;
	background:-moz-radial-gradient(center, circle cover, #d59177 0%, #c97150 100%);
	background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #d59177), color-stop(100%, #c97150));
	background:-webkit-radial-gradient(center, circle cover, #d59177 0%, #c97150 100%);
	background:-o-radial-gradient(center, circle cover, #d59177 0%, #c97150 100%);
	background:radial-gradient(center, circle cover, #d59177 0%, #c97150 100%);
	background-color:#c97150
}
.theme-color-forest-yellow{
	background:#189d49;
	background:-moz-radial-gradient(center, circle cover, #189d49 0%, #14853d 100%);
	background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #189d49), color-stop(100%, #14853d));
	background:-webkit-radial-gradient(center, circle cover, #189d49 0%, #14853d 100%);
	background:-o-radial-gradient(center, circle cover, #189d49 0%, #14853d 100%);
	background:radial-gradient(center, circle cover, #189d49 0%, #14853d 100%);
	background-color:#14853d
}
.theme-color-grey-blue{
	background:#555a5f;
	background:-moz-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
	background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #555a5f), color-stop(100%, #1c1e20));
	background:-webkit-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
	background:-o-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
	background:radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
	background-color:#2b2b2b
}
.theme-color-lila-yellow{
	background:#793f62;
	background:-moz-radial-gradient(center, circle cover, #793f62 0%, #512b42 100%);
	background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #793f62), color-stop(100%, #512b42));
	background:-webkit-radial-gradient(center, circle cover, #793f62 0%, #512b42 100%);
	background:-o-radial-gradient(center, circle cover, #793f62 0%, #512b42 100%);
	background:radial-gradient(center, circle cover, #793f62 0%, #512b42 100%);
	background-color:#512b42
}
.theme-color-mint-beige{
	background:#2aa57e;
	background:-moz-radial-gradient(center, circle cover, #2aa57e 0%, #207c5f 100%);
	background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2aa57e), color-stop(100%, #207c5f));
	background:-webkit-radial-gradient(center, circle cover, #2aa57e 0%, #207c5f 100%);
	background:-o-radial-gradient(center, circle cover, #2aa57e 0%, #207c5f 100%);
	background:radial-gradient(center, circle cover, #2aa57e 0%, #207c5f 100%);
	background-color:#207c5f
}
.theme-color-sea-yellow{
	background:#6cc9cd;
	background:-moz-linear-gradient(top, #6cc9cd 0%, #297477 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #6cc9cd), color-stop(100%, #297477));
	background:-webkit-linear-gradient(top, #6cc9cd 0%, #297477 100%);
	background:-o-linear-gradient(top, #6cc9cd 0%, #297477 100%);
	background:linear-gradient(top, #6cc9cd 0%, #297477 100%);
	background-color:#297477
}
.theme-color-silver-blue{
	background:#fff;
	background:-moz-radial-gradient(center, circle cover, #fff 0%, #bbb 100%);
	background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fff), color-stop(100%, #bbb));
	background:-webkit-radial-gradient(center, circle cover, #fff 0%, #bbb 100%);
	background:-o-radial-gradient(center, circle cover, #fff 0%, #bbb 100%);
	background:radial-gradient(center, circle cover, #fff 0%, #bbb 100%);
	background-color:#bbb
}

.theme-color-sky-blue{
	background:#f7fbfc;
	background:-moz-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(100%, #add9e4));
	background:-webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background:-o-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background:radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background-color:#f7fbfc
}