@import "variables";
@import "compass/css3";
// @import "compass/utilities/general/clearfix";
@import "typography";
@import "background";
@import "slide";
// @import "button";
// @import "scrollbar";
// @import "mixins";

*,
*:before,
*:after {
	@include box-sizing(border-box);
}

.zoomed {
	overflow: hidden;
}

.wrapper {
	width: 750px;
	margin: 0 auto;
}

#editor {
	@include transform-origin(0,0);
	@include transition(transform 0.5s ease-in);
	@include transform-style(preserve-3d);
	outline: none;
	// @include pie-clearfix;
	width: $wrapper-width;
	// margin: 0 auto;
}

#editor.no-transition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

#editor.initial {
	-webkit-transform: scale($scale) !important;
	-moz-transform: scale($scale) !important;
	-ms-transform: scale($scale) !important;
	-o-transform: scale($scale) !important;
	transform: scale($scale) !important;
}

body {
	margin: 0;
	padding-top: 100px;
	background-attachment: fixed !important;
	position: fixed;
	width: 100%;
}

html, body, .container {
	height: 100%;
}

.toolbar {
	position: fixed;
	top: 0;
	z-index:1000;
}

#sidebar {
	position: fixed;
	bottom: 15px;
	right: 15px;
}

.wrapper #sidebar {
	display: none;
}