/* line 1, _typography.scss */
* {
  font-family: 'Open Sans', sans-serif;
}

/* line 5, _typography.scss */
p {
  font-size: 5.71429em;
}

/* line 9, _typography.scss */
h1 {
  font-size: 11.42857em;
}

/* line 1, _background.scss */
.theme-color-asphalt-orange {
  background-color: #2c3e50;
  background: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(0%, #415b77), color-stop(100%, #2c3e50));
  background: -webkit-radial-gradient(circle, #415b77, #2c3e50);
  background: -moz-radial-gradient(circle, #415b77, #2c3e50);
  background: -o-radial-gradient(circle, #415b77, #2c3e50);
  background: radial-gradient(circle, #415b77, #2c3e50);
}

/* line 5, _background.scss */
.theme-color-cobalt-orange {
  background-color: #13335a;
  background: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(0%, #1a4984), color-stop(100%, #13335a));
  background: -webkit-radial-gradient(circle, #1a4984, #13335a);
  background: -moz-radial-gradient(circle, #1a4984, #13335a);
  background: -o-radial-gradient(circle, #1a4984, #13335a);
  background: radial-gradient(circle, #1a4984, #13335a);
}

/* line 9, _background.scss */
.theme-color-beige-brown {
  background-color: #f7f3de;
  background: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(0%, #ffffff), color-stop(100%, #f7f2d3));
  background: -webkit-radial-gradient(circle, #ffffff, #f7f2d3);
  background: -moz-radial-gradient(circle, #ffffff, #f7f2d3);
  background: -o-radial-gradient(circle, #ffffff, #f7f2d3);
  background: radial-gradient(circle, #ffffff, #f7f2d3);
}

/* line 13, _background.scss */
.theme-color-coral-blue {
  background-color: #c97150;
  background: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(0%, #d59177), color-stop(100%, #c97150));
  background: -webkit-radial-gradient(circle, #d59177, #c97150);
  background: -moz-radial-gradient(circle, #d59177, #c97150);
  background: -o-radial-gradient(circle, #d59177, #c97150);
  background: radial-gradient(circle, #d59177, #c97150);
}

/* line 17, _background.scss */
.theme-color-forest-yellow {
  background-color: #14853d;
  background: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(0%, #189d49), color-stop(100%, #14853d));
  background: -webkit-radial-gradient(circle, #189d49, #14853d);
  background: -moz-radial-gradient(circle, #189d49, #14853d);
  background: -o-radial-gradient(circle, #189d49, #14853d);
  background: radial-gradient(circle, #189d49, #14853d);
}

/* line 21, _background.scss */
.theme-color-grey-blue {
  background-color: #2b2b2b;
  background: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(0%, #555a5f), color-stop(100%, #1c1e20));
  background: -webkit-radial-gradient(circle, #555a5f, #1c1e20);
  background: -moz-radial-gradient(circle, #555a5f, #1c1e20);
  background: -o-radial-gradient(circle, #555a5f, #1c1e20);
  background: radial-gradient(circle, #555a5f, #1c1e20);
}

/* line 25, _background.scss */
.theme-color-lila-yellow {
  background-color: #512b42;
  background: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(0%, #793f62), color-stop(100%, #512b42));
  background: -webkit-radial-gradient(circle, #793f62, #512b42);
  background: -moz-radial-gradient(circle, #793f62, #512b42);
  background: -o-radial-gradient(circle, #793f62, #512b42);
  background: radial-gradient(circle, #793f62, #512b42);
}

/* line 29, _background.scss */
.theme-color-mint-beige {
  background-color: #207c5f;
  background: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(0%, #2aa57e), color-stop(100%, #207c5f));
  background: -webkit-radial-gradient(circle, #2aa57e, #207c5f);
  background: -moz-radial-gradient(circle, #2aa57e, #207c5f);
  background: -o-radial-gradient(circle, #2aa57e, #207c5f);
  background: radial-gradient(circle, #2aa57e, #207c5f);
}

/* line 33, _background.scss */
.theme-color-sea-yellow {
  background-color: #297477;
  background: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(0%, #6cc9cd), color-stop(100%, #297477));
  background: -webkit-radial-gradient(circle, #6cc9cd, #297477);
  background: -moz-radial-gradient(circle, #6cc9cd, #297477);
  background: -o-radial-gradient(circle, #6cc9cd, #297477);
  background: radial-gradient(circle, #6cc9cd, #297477);
}

/* line 37, _background.scss */
.theme-color-silver-blue {
  background-color: #fff;
  background: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(0%, #ffffff), color-stop(100%, #bbbbbb));
  background: -webkit-radial-gradient(circle, #ffffff, #bbbbbb);
  background: -moz-radial-gradient(circle, #ffffff, #bbbbbb);
  background: -o-radial-gradient(circle, #ffffff, #bbbbbb);
  background: radial-gradient(circle, #ffffff, #bbbbbb);
}

/* line 42, _background.scss */
.theme-color-sky-blue {
  background-color: #f7fbfc;
  background: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(0%, #f7fbfc), color-stop(100%, #add9e4));
  background: -webkit-radial-gradient(circle, #f7fbfc, #add9e4);
  background: -moz-radial-gradient(circle, #f7fbfc, #add9e4);
  background: -o-radial-gradient(circle, #f7fbfc, #add9e4);
  background: radial-gradient(circle, #f7fbfc, #add9e4);
}

/* line 1, _slide.scss */
.slide {
  width: 800px;
  height: 600px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 40px 60px;
  margin: 50px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 6px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 13, _slide.scss */
.slide * {
  font-size: 1em;
}
/* line 16, _slide.scss */
.slide h1 {
  font-size: 2em;
}
/* line 19, _slide.scss */
.slide:hover .delete-slide-icon {
  display: block;
}

/* line 28, _slide.scss */
.zoomed .delete-slide-icon {
  display: none !important;
}

/* line 32, _slide.scss */
.delete-slide-icon {
  position: absolute;
  left: -0.45em;
  top: -0.45em;
  font-size: 7.14286em;
  display: none;
}

/* line 1, _button.scss */
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

/* line 7, _button.scss */
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

/* line 12, _button.scss */
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

/* line 16, _button.scss */
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* line 21, _button.scss */
.btn-group > .btn:first-child {
  margin-left: 0;
}

/* line 25, _button.scss */
.btn-group > .btn, .btn-group-vertical > .btn {
  position: relative;
  float: left;
}

/* line 30, _button.scss */
.btn {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 50, _button.scss */
.btn:focus {
  outline: none;
}

/* line 55, _button.scss */
.btn-default {
  color: #333333;
  background-color: white;
  border-color: #cccccc;
}

/* line 61, _button.scss */
.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* line 68, _button.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 73, _button.scss */
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

/* line 77, _button.scss */
.btn-default:hover {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}

/* line 83, _button.scss */
.btn-group > .btn:hover {
  z-index: 2;
}

/* line 13, style.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, style.scss */
.zoomed {
  overflow: hidden;
}

/* line 21, style.scss */
.wrapper {
  width: 750px;
  margin: 0 auto;
}

/* line 26, style.scss */
#editor {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  -moz-transition: -moz-transform 0.5s ease-in;
  -o-transition: -o-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  outline: none;
  width: 4285.71429px;
}

/* line 36, style.scss */
#editor.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* line 43, style.scss */
#editor.initial {
  -webkit-transform: scale(0.175) !important;
  -moz-transform: scale(0.175) !important;
  -ms-transform: scale(0.175) !important;
  -o-transform: scale(0.175) !important;
  transform: scale(0.175) !important;
}

/* line 51, style.scss */
body {
  margin: 0;
  background-attachment: fixed !important;
  position: fixed;
  width: 100%;
}

/* line 59, style.scss */
html, body, .container {
  height: 100%;
}

/* line 63, style.scss */
.toolbar {
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* line 69, style.scss */
#sidebar {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

/* line 75, style.scss */
.wrapper #sidebar {
  display: none;
}
