<div class="btn-group toolbar">
  <button type="button" class="btn btn-default" id="bold"><i class="fa fa-bold"></i></button>
  <button type="button" class="btn btn-default" id="italic"><i class="fa fa-italic"></i></button>
  <button type="button" class="btn btn-default" id="underline"><i class="fa fa-underline"></i></button>
  <button type="button" class="btn btn-default" id="insert-slide"><i class="fa fa-plus"></i></button>
  <button type="button" class="btn btn-default" id="present"><i class="fa fa-play"></i></button>
  <button type="button" class="btn btn-default" id="reset"><i class="fa fa-home"></i></button>
  <button type="button" class="btn btn-default" id="clear"><i class="fa fa-trash-o"></i></button>
  <button type="button" class="btn btn-default" id="h1">H1</button>
  <button type="button" class="btn btn-default" id="p">P</button>
  <button class="btn btn-default" id="insert-image">insert image</button>
  <button type="button" class="btn btn-default" id="insert-video">insert video</button>
</div>